* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #4267b2;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.box span {
  font-size: 200px;
  font-weight: 900;
  color: #fff;
}
